estoquews.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.estoque.caelum.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.estoque.caelum.com.br/" name="EstoqueWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.estoque.caelum.com.br/" schemaLocation="http://localhost:8080/estoquews?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="todosOsItens">
<part name="parameters" element="tns:todosOsItens"></part>
</message>
<message name="todosOsItensResponse">
<part name="parameters" element="tns:todosOsItensResponse"></part>
</message>
<message name="CadastrarItem">
<part name="parameters" element="tns:CadastrarItem"></part>
<part name="tokenUsuario" element="tns:tokenUsuario"></part>
</message>
<message name="CadastrarItemResponse">
<part name="result" element="tns:CadastrarItemResponse"></part>
</message>
<message name="AutorizacaoException">
<part name="fault" element="tns:AutorizacaoFault"></part>
</message>
<portType name="EstoqueWS">
<operation name="todosOsItens">
<input wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/todosOsItensRequest" message="tns:todosOsItens"></input>
<output wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/todosOsItensResponse" message="tns:todosOsItensResponse"></output>
</operation>
<operation name="CadastrarItem" parameterOrder="parameters tokenUsuario">
<input wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/CadastrarItemRequest" message="tns:CadastrarItem"></input>
<output wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/CadastrarItemResponse" message="tns:CadastrarItemResponse"></output>
<fault message="tns:AutorizacaoException" name="AutorizacaoException" wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/CadastrarItem/Fault/AutorizacaoException"></fault>
</operation>
</portType>
<binding name="EstoqueWSPortBinding" type="tns:EstoqueWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="todosOsItens">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="CadastrarItem">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" parts="parameters"></soap:body>
<soap:header message="tns:CadastrarItem" part="tokenUsuario" use="literal"></soap:header>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="AutorizacaoException">
<soap:fault name="AutorizacaoException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="EstoqueWSService">
<port name="EstoqueWSPort" binding="tns:EstoqueWSPortBinding">
<soap:address location="http://localhost:8080/estoquews"></soap:address>
</port>
</service>
</definitions>